In [1]:
import pandas as pd

In [2]:
DATA_PATH = "./data/"

## Create new test sets

Delete from the test set of ann_2 (ann_3) each post used for the training set of ann_3 (ann_2)

In [5]:
df_tr2 = pd.read_csv(DATA_PATH+"annotation_results__ann2_training.csv")
df_te2 = pd.read_csv(DATA_PATH+"annotation_results__ann2_test.csv")
df_tr3 = pd.read_csv(DATA_PATH+"annotation_results__ann3_training.csv")
df_te3 = pd.read_csv(DATA_PATH+"annotation_results__ann3_test.csv")

In [24]:
tmp = df_te3.merge(df_tr2, left_on="text", right_on="text", how="left", suffixes=('', '_r'))
tmp = tmp[tmp['class_r'].isna()].drop(columns=["class_r"])
tmp.to_csv(DATA_PATH+"annotation_results__ann3_test-notrains2.csv")
tmp

                                                  text class
2    doesn't actually condone vigilante justice...I...    ns
7    Dr. Horrible Blog, reminds me of the themes in...    ns
12   So as I was driving to school this morning, be...  sens
14   A recent online exchange: Other guy: "I have t...    ns
22   *PROPNAME* should have thanked *PROPNAME* in h...    ns
..                                                 ...   ...
388                        is wishing it was Saturday.    ns
398  Supposedly Hauppauge means "land of sweet wate...    ns
399  The Portuguese pronounce X like SH?  Damnit, i...    ns
400  is no longer talking to *PROPNAME* - but not i...  sens
404                                           is sick.  sens

[108 rows x 2 columns]

In [22]:
tmp = df_te2.merge(df_tr3, left_on="text", right_on="text", how="left", suffixes=('', '_r'))
tmp = tmp[tmp['class_r'].isna()].drop(columns=["class_r"])
tmp.to_csv(DATA_PATH+"annotation_results__ann2_test-notrains3.csv")
tmp

                                                  text class
0        Congratulations *PROPNAME* and *PROPNAME*!!!!    ns
1                                   is off to the gym!  sens
2    howard zinn's a people's history of the united...  sens
3            Having a job again is weird, but welcome.  sens
4          Just bought a cute pair of purple pumps : )  sens
..                                                 ...   ...
871  Okay, must sleep. Must work in mere hours...ah...  sens
874  Almost killed myself trying to get a piece of ...    ns
875  Guy in a "peace-sign" truck tailgates then cut...    ns
877                      Free shipping is my downfall.    ns
879  songs from back in the day make her smile, wan...  sens

[557 rows x 2 columns]

In [4]:
df_tr2 = pd.read_csv(DATA_PATH+"annotation_results__ann2_training.csv")
df_tr2

                                                   text class
0     was worried when she saw the new facebook layo...  sens
1     misses being naive...now I'm jaded and waiting...    ns
2     got my burger, fries AND a birthday cake milks...    ns
3     "we don't use the term 'insane' ~ we prefer 'm...    ns
4     I believe my cell phone is officially broken b...    ns
...                                                 ...   ...
6570                        Happy New Years Everyone!!!    ns
6571              s house smells like hickory and fall!    ns
6572                                 a very happy girl!    ns
6573  The key to realizing a dream is to focus not o...    ns
6574  hungry and got no food but it is cold out so I...    ns

[6575 rows x 2 columns]

In [8]:
df_sens3 = pd.read_csv(DATA_PATH+"annotation_results__ann3_training.csv").append(pd.read_csv(DATA_PATH+"annotation_results__ann3_validation.csv")).append(pd.read_csv(DATA_PATH+"annotation_results__ann3_test.csv"))
df_sens3

                                                  text class
0    Once again can't sleep, but too tired to do an...  sens
1    Do not go where the path may lead, go instead ...    ns
2    Restlessness is dicontent, and discontent is t...    ns
3    *PROPNAME* and I are engaged!  :-)  I'm so happy.  sens
4    Leaving Manitoba Wednesday morning... Not look...  sens
..                                                 ...   ...
399  Viridian, cerulean, saffron, fuchsia, and all ...    ns
400  wireless card beats wireless adapter thank god...    ns
401  The Silent killers are... Rocket Dinosaurs... ...    ns
402                                           is sick.  sens
403  was chased by veloceraptors for a good hour, a...    ns

[4046 rows x 2 columns]

In [14]:
df_tr2.merge(df_sens3, left_on="text", right_on="text")[["text"]].drop_duplicates()

                                                   text
0     got my burger, fries AND a birthday cake milks...
1     "we don't use the term 'insane' ~ we prefer 'm...
2     I believe my cell phone is officially broken b...
3      oh sweet sweet monday, you treated me so well...
4     One reason we resist making deliberate choices...
...                                                 ...
3041  Everyone, i have a confession to make.  I have...
3042                                  manny doing work!
3043                        Happy New Years Everyone!!!
3044              s house smells like hickory and fall!
3045  The key to realizing a dream is to focus not o...

[3016 rows x 1 columns]

In [15]:
df_tr3 = pd.read_csv(DATA_PATH+"annotation_results__ann3_training.csv")
df_tr3

                                                   text class
0     Once again can't sleep, but too tired to do an...  sens
1     Do not go where the path may lead, go instead ...    ns
2     Restlessness is dicontent, and discontent is t...    ns
3     *PROPNAME* and I are engaged!  :-)  I'm so happy.  sens
4     Leaving Manitoba Wednesday morning... Not look...  sens
...                                                 ...   ...
3031                              loves the sun!!!!! <3    ns
3032  is so Fucking Rock, so Goddamn Rock, so Mother...    ns
3033  rock and roll baby, dont u know that we're all...    ns
3034  I got a feelin' that tonight's gonna be a good...    ns
3035  ÂHell is empty and all the devils are here.Â...    ns

[3036 rows x 2 columns]

In [16]:
df_sens2 = pd.read_csv(DATA_PATH+"annotation_results__ann2_training.csv").append(pd.read_csv(DATA_PATH+"annotation_results__ann2_validation.csv")).append(pd.read_csv(DATA_PATH+"annotation_results__ann2_test.csv"))
df_sens2

                                                  text class
0    was worried when she saw the new facebook layo...  sens
1    misses being naive...now I'm jaded and waiting...    ns
2    got my burger, fries AND a birthday cake milks...    ns
3    "we don't use the term 'insane' ~ we prefer 'm...    ns
4    I believe my cell phone is officially broken b...    ns
..                                                 ...   ...
871  Guy in a "peace-sign" truck tailgates then cut...    ns
872                       Yeah VIKINGS are the best...    ns
873                      Free shipping is my downfall.    ns
874  enjoyed looking at $110,000 pianos with *PROPN...  sens
875  songs from back in the day make her smile, wan...  sens

[8765 rows x 2 columns]

In [19]:
df_tr3.merge(df_sens2, left_on="text", right_on="text")[["text"]].drop_duplicates()

                                                   text
0     Once again can't sleep, but too tired to do an...
1     Do not go where the path may lead, go instead ...
2     Restlessness is dicontent, and discontent is t...
3     *PROPNAME* and I are engaged!  :-)  I'm so happy.
4     Leaving Manitoba Wednesday morning... Not look...
...                                                 ...
3059                              loves the sun!!!!! <3
3060  is so Fucking Rock, so Goddamn Rock, so Mother...
3061  rock and roll baby, dont u know that we're all...
3062  I got a feelin' that tonight's gonna be a good...
3063  ÂHell is empty and all the devils are here.Â...

[3027 rows x 1 columns]